<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="sendGrid" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EnabillContext" connectionString="Data Source=Local;Initial Catalog=Enabill;Integrated Security=true;MultipleActiveResultSets=True;Connection Timeout=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Email Address-->
    <add key="EmailAddressDefault" value="info@saratoga.co.za" />
    <add key="EmailAddressInfo" value="info@saratoga.co.za" />
    <add key="EmailAddressAccounts" value="accounts@saratoga.co.za" />
    <add key="EmailAddressSupport" value="enabill@saratoga.co.za" />
    <add key="EmailAddressHR" value="hr@saratoga.co.za,natalieh@saratoga.co.za" />
    <!--Email-->
    <add key="EmailAddressDefaultFrom" value="no-reply@saratoga.co.za" />
    <add key="EmailAddressDefaultReplyTo" value="no-reply@saratoga.co.za" />
    <!--Leave override email blank if you want to send to the original recipients-->
    <add key="EmailAddressOverrideTo" value="nicov@saratoga.co.za" />
    <!--Email Server-->
    <add key="SendEmails" value="1" />
    <add key="SMTPServer" value="smtp.sendgrid.net" />
    <add key="MailingMethod" value="Direct" />
    <!--Site-->
    <add key="SiteAddress" value="localhost:52511" />
    <!--Path-->
    <add key="PathTemp" value="C:\Reports\Enabill\Temp\" />
    <add key="PathTemplate" value="C:\Reports\Enabill\Templates\" />
    <add key="PathTimeReminderFile" value="C:\Work\Git\Saratoga\Enabill\Enabill.ScheduledJob\Configs\TimeReminder.xml" />
    <add key="DaysToSubtract" value="1" />
    <!--BuiltIn-->
    <add key="Config" value="Debug" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <sendGrid>
    <!--SendGrid API Key Name: SaratogaSendGrid
    SendGrid API Key ID: nU_dbKmwQ52ZIxaAE9Tgxg
    SendGrid API Key: SG.nU_dbKmwQ52ZIxaAE9Tgxg.hWufNpzv7FN6H9Nvby64GzydgJkSnW_PBdIRKm9CMWQ-->
    <add key="SendGridUserName" value="apikey" />
    <add key="SendGridPassword" value="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" />
  </sendGrid>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Error" internalLogFile="C:\Logs\EnabillJobs\nlog-internal.log">
    <targets>
      <target name="asyncFile" type="AsyncWrapper">
        <target name="logfile" type="File" fileName="C:\Logs\EnabillJobs\${shortdate}.txt" archiveFileName="C:\Logs\EnabillJobs\Archives\${shortdate}-{###}.txt" layout="${longdate} | ${level} | ${logger} | ${threadid} | ${message}" archiveAboveSize="3145728" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="31" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      </target>
      <target name="mailbuffer" type="BufferingWrapper" slidingTimeout="false" bufferSize="100" flushTimeout="-1">
        <target name="email" type="Mail" from="no-reply@saratoga.co.za" to="address@saratoga.co.za" subject="Info about Scheduled Jobs" smtpUserName="alacritytechnology" enableSsl="false" smtpPassword="$DQwF2#S" html="true" smtpAuthentication="Basic" body="${message} ${nlogdir}" smtpServer="smtp.sendgrid.net" deliveryMethod="Network" encoding="UTF-8" smtpPort="2525" replaceNewlineWithBrTagInHtml="true" />
      </target>
      <target name="console" type="Console" layout="${message}" />
      <target name="udp" type="NLogViewer" address="udp4://localhost:7071" />
      <target name="tcp" type="NLogViewer" address="tcp4://localhost:4505" />
    </targets>
    <rules>
      <!--Levels:
      Trace - Very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
      Debug - Debugging information, less detailed than trace, typically not enabled in production environment.
      Info  - Information messages, which are normally enabled in production environment
      Warn  - Warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
      Error - Error messages - most of the time these are Exceptions
      Fatal - Very serious errors!-->
      <logger name="*" minlevel="Error" writeTo="asyncFile" />
      <logger name="*" minlevel="Error" writeTo="email" />
      <logger name="*" minlevel="Error" writeTo="console,udp,tcp" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
