@model string

<div class="actionDiv" onclick="window.location= '/Report/ActivityReportIndex/?callingPage=activity'">
    <span class="imageWithText">
        <img alt="" height="16px" src="@Url.Content("~/Content/Img/redo_16x16.png")" />
    </span>
    Go back to Activity Report
</div>