@model string

<div class="actionDiv" onclick="window.location= '/Time/ApproveUserIndex/?callingPage=approval'">
    <span class="imageWithText">
        <img alt="" height="16px" src="@Url.Content("~/Content/Img/redo_16x16.png")" />
    </span>
    Go to Approve Time User List
</div>