@model Enabill.Web.Models.TimeApproveIndexModel

<div class="actionDiv" onclick="window.location= '/Invoice/WorkAllocations/@Model.InvoiceID'">
    <span class="imageWithText">
        <img alt="" height="16px" src="@Url.Content("~/Content/Img/redo_16x16.png")" />
    </span>
    Go to Invoice
</div>