@model Enabill.Web.Models.ExpenseIndexModel

<form id="frmExpenseMonthList" method="post">
    <span>
        Month: @Html.DropDownList("MonthList")
        <input type="submit" value="Go" />
    </span>
    @Html.Hidden("User", Model.User.UserID)
</form>