@model string

<div class="actionDiv" onclick="ProjectInvoiceRule.create(); return false;">
    <span class="imageWithText">
        <img alt="" height="18px" src="@Url.Content("~/Content/Img/add_plus_green.png")" />
    </span>
    Create A New Invoice Rule
</div>