@if (CurrentUser.HasRole(Enabill.UserRoleType.SystemAdministrator) || CurrentUser.HasRole(Enabill.UserRoleType.ProjectOwner))
{
    <div class="actionDiv" onclick="window.location = '/Project/Create/';">
        <span class="imageWithText">
            <img alt="" height="18px" src="@Url.Content("~/Content/Img/add_plus_green.png")" />
        </span>
        Create New
    </div>
}