<div class="actionDiv" onclick="Forecast.viewDefaultReferences(); return false;">
    <span class="imageWithText">
        <img alt="" height="16px" src="@Url.Content("~/Content/Img/redo_16x16.png")" />
    </span>
    View Default References
</div>