<div class="actionDiv" onclick="window.location = '/Forecast/Index/';">
    <span class="imageWithText">
        <img alt="" height="16px" src="@Url.Content("~/Content/Img/redo_16x16.png")" />
    </span>
    Return to List
</div>