<form id="SelectClientsFrm" action="" method="post">
    <table class="fullWidth underline">
        <tr>
            <td>
                Clients:
            </td>
            <td>
                @Html.ListBox("Clients", null, new { style = "height:150px;" })
            </td>
        </tr>
    </table>
</form>