<form id="SelectReferencesFrm" action="" method="post">
    <table class="fullWidth underline">
        <tr>
            <td>
                References:
            </td>
            <td>
                @Html.ListBox("References", null, new { style = "height:150px;" })
            </td>
        </tr>
    </table>
</form>