<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EnabillContext" connectionString="Data Source=CloudTest;Initial Catalog=Enabill_Test;Persist Security Info=True;User ID=Enabill_User;Password=Q*$4sAKDmP^@TdAAFgc@;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!--Email-->
    <add key="EmailAddressDefaultReplyTo" value="enabill@saratoga.co.za" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Leave ovveride email blank if you want to send to the original recipients-->
    <add key="EmailAddressOverrideTo" value="enabill@saratoga.co.za" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Site-->
    <add key="SiteAddress" value="enabilltest.saratoga.co.za" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Path-->
    <add key="PathTemp" value="C:\Reports\Enabill\Temp\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathTemplate" value="C:\Reports\Enabill\Templates\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathExpense" value="C:\Logs\Enabill\Test\Expenses\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathContract" value="C:\Logs\Enabill\Test\Contracts\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathLog" value="C:\Logs\Enabill\Test\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Viewer-->
    <add key="DocuViewareKey" value="02265a36b8f0464796c801e7339e19c5dc5c45ddfabb31f9Gx4ZcGz7zE8pzwYyLtCWhhqcW/TElpE8vdNooePcDI5/eFimqlbgw4626xZ5akP8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--BuiltIn-->
    <add key="Config" value="Test" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <nlog autoReload="true" throwExceptions="true" internalLogFile="C:\Logs\Enabill\Test\nlog-internal.log" xdt:Transform="SetAttributes(internalLogFile)" xdt:Locator="Match(autoReload)">
    <targets>
      <target name="asyncFile" type="AsyncWrapper">
        <target name="logfile"
                type="File"
                fileName="C:\Logs\Enabill\Test\${shortdate}.txt"
                archiveFileName="C:\Logs\Enabill\Test\Archives\${shortdate}-{###}.txt"
                layout="${longdate} | ${level} | ${logger} | ${threadid} | ${message}"
                archiveAboveSize="3145728"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="31"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="iso-8859-2"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </target>
      <target name="mailbuffer" type="BufferingWrapper" slidingTimeout="false" bufferSize="100" flushTimeout="-1">
        <target
          name="email"
          type="Mail"
          from="no-reply@saratoga.co.za"
          to="enabill@saratoga.co.za"
          subject="Info about Enabill on Test"
          smtpUserName="alacritytechnology"
          enableSsl="false"
          smtpPassword="$DQwF2#S"
          html="true"
          smtpAuthentication="Basic"
          body="${message} ${nlogdir}"
          smtpServer="smtp.sendgrid.net"
          deliveryMethod="Network"
          encoding="UTF-8"
          smtpPort="2525"
          replaceNewlineWithBrTagInHtml="true"
          xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="asyncFile" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)" />
      <logger name="*" minlevel="Debug" writeTo="email" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)" />
      <logger name="*" minlevel="Debug" writeTo="console,udp,tcp" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)" />
    </rules>
  </nlog>
</configuration>