<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EnabillContext" connectionString="Data Source=Cloud;Initial Catalog=Enabill;Persist Security Info=True;User ID=Enabill_User;Password=Q*$4sAKDmP^@TdAAFgc@;MultipleActiveResultSets=True;Connection Timeout=1000;Connection Lifetime=3;Max Pool Size=3" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!--Email-->
    <add key="EmailAddressDefaultReplyTo" value="no-reply@saratoga.co.za" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Leave ovveride email blank if you want to send to the original recipients-->
    <add key="EmailAddressOverrideTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Site-->
    <add key="SiteAddress" value="enabill.saratoga.co.za" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Path-->
    <add key="PathTemp" value="G:\Reports\Enabill\Temp\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathTemplate" value="G:\Reports\Enabill\Templates\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathExpense" value="G:\Logs\Enabill\Expenses\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathContract" value="G:\Logs\Enabill\Contracts\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathLog" value="G:\Logs\Enabill\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Viewer-->
    <add key="DocuViewareKey" value="02265a36b8f0464796c801e7339e19c5dc5c45ddfabb31f9Gx4ZcGz7zE8pzwYyLtCWhhqcW/TElpE8vdNooePcDI5/eFimqlbgw4626xZ5akP8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--BuiltIn-->
    <add key="Config" value="Release" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.7" xdt:Transform="SetAttributes(debug)">
    </compilation>
  </system.web>
  <system.webServer>
    <httpRedirect enabled="false" destination="https://enabill.saratoga.co.za" exactDestination="true" xdt:Transform="Insert" />
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <nlog autoReload="true" throwExceptions="false" internalLogFile="G:\Logs\Enabill\nlog-internal.log" xdt:Transform="SetAttributes(internalLogFile)" xdt:Locator="Match(autoReload)">
    <targets>
      <target name="asyncFile" type="AsyncWrapper">
        <target name="logfile"
                type="File"
                fileName="G:\Logs\Enabill\${shortdate}.txt"
                archiveFileName="G:\Logs\Enabill\Archives\${shortdate}-{###}.txt"
                layout="${longdate} | ${level} | ${logger} | ${threadid} | ${message}"
                archiveAboveSize="3145728"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="31"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="iso-8859-2"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </target>
      <target name="mailbuffer" type="BufferingWrapper" slidingTimeout="false" bufferSize="100" flushTimeout="-1">
        <target
          name="email"
          type="Mail"
          from="no-reply@saratoga.co.za"
          to="enabill@saratoga.co.za"
          subject="Info about Enabill on Production"
          smtpUserName="alacritytechnology"
          enableSsl="false"
          smtpPassword="$DQwF2#S"
          html="true"
          smtpAuthentication="Basic"
          body="${message} ${nlogdir}"
          smtpServer="smtp.sendgrid.net"
          deliveryMethod="Network"
          encoding="UTF-8"
          smtpPort="2525"
          replaceNewlineWithBrTagInHtml="true"
          xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="asyncFile" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)" />
      <logger name="*" minlevel="Info" writeTo="email" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)" />
      <logger name="*" minlevel="Info" writeTo="console,udp,tcp" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)" />
    </rules>
  </nlog>
</configuration>