@{
    ViewBag.Title = "Change Password";
}

<div class="marginView">
    @Html.TitleTable("tblPassword", "", "Successful Password Change", Url.Content("~/Content/Img/change_password_20x20.png"))
    <div class="padView">

        <table class="subTable">
            <tr>
                <td>

                    <p>
                        Your password has been changed successfully.
                    </p>

                    @Html.ActionLink("Go To Your Dashboard", "Index", "Home")
                </td>
            </tr>
        </table>
    </div>
</div>