@{
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <p style="margin-bottom: 10px; font-size: 10pt !important;">
        Enter your username, email address or full name. Password reset instructions will be sent to your email address.
    </p>

    @Html.TextBox("Name", string.Empty, new { @class = "LogOnInput required" })
    <input type="submit" id="LogOnSubmit" value="Send" />
}

@section navigation
{
    <a id="navigationLink" href="/Home/">Go to Log On</a>
}