@model int
<span>
    <span class="actionSpan" onclick="showYear(@Model - 1)">Previous Year</span>
    <b>@Model</b>
    <span class="actionSpan" onclick="showYear(@Model + 1)">Next Year</span>
</span>
