@if (CurrentUser.HasRole(Enabill.UserRoleType.SystemAdministrator))
{
    <div class="actionDiv">
        <span>Status @Html.DropDownList("StatusFilter", null, new { style = "width:100px;", onchange = "Region.refreshList(); return false;" })</span>
    </div>
}