@model IEnumerable<Enabill.Models.BalanceAuditTrail>
    <div>
        <span class="actionSpan" onclick="window.location='/Report/PrintToExcel/?reportName=Balance AuditTrail Report'">
            <span class="imageWithText">
                <img alt="" height="16px" src="@Url.Content("~/Content/Img/PrintXls.png")" />
            </span>
            Print Report
        </span>
    </div>