@model Enabill.Web.Models.FlexiBalanceReportModel
<div>
    <span class="actionSpan" onclick="window.location='/Report/PrintFlexiReportToExcel/';">
        <span class="imageWithText">
            <img alt="" height="16px" src="@Url.Content("~/Content/Img/PrintXls.png")" />
        </span>
        Print Report
    </span>
</div>