@model string

<div class="padView">
    <form id="frmPercentageAllocationReport" method="post">
        <table>
            <tr>
                <th>
                    Financial Period
                    @Html.DropDownList("FinPeriod")
                </th>
            </tr>
        </table>
    </form>
</div>