@model string

<div class="padView">
    <form id="frmTicketTimeAllocationReport" method="post">
        <table>
            <tr>
                <th>
                    Date From
                    @Html.TextBox("DateFrom")
                </th>
                <th>
                    Date To
                    @Html.TextBox("DateTo")
                </th>
            </tr>
        </table>
    </form>
</div>