@model string

<div class="padView">
    <form id="frmLeaveRequestsPendingReport" method="post">
        <table>
            <tr>
                <th>Date From </th>
                <td>@Html.TextBox("DateFrom")</td>
            </tr>
        </table>
    </form>
</div>