<table class="general ">
    <tr>
        <th>Months to run for</th>
        <td>@Html.TextBox("Months", 3)</td>
    </tr>
    <tr>
        <th>All Users</th>
        <td>@Html.ListBox("UserList", null, new { style = "height: 300px;" }) </td>
    </tr>
</table> 