@model Enabill.Web.Models.TicketLineModel

<table class="fullWidth" style="background: #FFF;">
    <tr></tr>
    <tr></tr>
    <tr>
        <td valign="center" align="center" rowspan="10" style="padding: 10px 20px 10px 5px;">
            <img alt="" height="120px" src="@Url.Content("~/Content/Img/closed.png")" />
        </td>
    </tr>
</table>