<div class="actionDiv" onclick="Ticket.deleteTicket(); return false;">
    <span class="imageWithText">
        <img alt="" height="18px" src="@Url.Content("~/Content/Img/error_24X24.png")" />
    </span>
    Delete Ticket
</div>