<table>
    <tr>
        <td>
            <div class="actionDiv" onclick="Ticket.reactivateTicket(); return false;">
                <span class="imageWithText">
                    <img alt="" height="18px" src="@Url.Content("~/Content/Img/tick_green_small.gif")" />
                </span>
                Reactivate Ticket
            </div>
        </td>
        <td>
            <div class="actionDiv" onclick="Ticket.findTicket(); return false;">
                <span class="imageWithText">
                    <img alt="" height="18px" src="@Url.Content("~/Content/Img/search.png")" />
                </span>
                Find Ticket
            </div>
        </td>
    </tr>
</table>