@model int

<div class="actionDiv" onclick="window.location='/Invoice/Edit/@(Model)'">
    <span class="imageWithText">
        <img alt="" height="16px" src="@Url.Content("~/Content/Img/redo_16x16.png")" />
    </span>
    Go Back to Invoice
</div>